body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x:hidden;
}
div h2{
    font-size:1.5em;
    transform: translateX(-70px);
}
header{
    position:sticky;
    top:0px;
    display:grid;
    background-color:lightgray;
    grid-template-columns:auto auto auto;
    justify-items: center;
    padding-top: 10px;
    margin-bottom:20px;
    height:75px;
}
.nav-links{
    word-spacing:20px;
    padding-top:25px;
    transform:translateX(70px);
    font-size:1.1em;
}
.nav-links a{
    color:dimgray;
}
.nav-links a:active{
    color:black;
}
.btn-icon-header{
    margin-top:20px;
    transform: translateX(70px);
}
.icon-header{
    border:1px solid black;
    margin:10px;
    padding:5px 5px 8px 5px;
    border-radius:5px;
}
.icon-header:hover{
    background-color:black;
    color:white;
    .btn-header{
        background-color:black;
        color:white;
    }
}
.btn-header{
    border:none;
    background-color:lightgray;
}
div a{
    text-decoration:none;
    color:black;
}
.about-img{
    display:grid;
    grid-template-columns:auto auto auto auto;
    justify-items: center;
}
#cart{
    padding-top:30px;
}
.cart-main{
    display:grid;
    grid-template-columns:auto auto;
    margin:70px 70px 70px 60px;
}
#cart-flex{
    display:grid;
    grid-template-columns:auto auto auto;
    justify-items: center;
    height:150px;
    /* width:700px; */
}
#cart-items{
    border:1px solid black;
    overflow-y:scroll;
    margin-left:50px;
    height:600px;
    width:100%;
}
#checkout{
    border:1px solid black;
    transform:translateX(100px);
    /* margin-left:200px; */
    padding:10px 40px;
    height:350px;
    width:350px;
}
#checkout button{
    background-color: black;
    color: white;
    padding:8px 10px;
    width:250px
}
.banner-img{
    height:600px;
    width:1500px;
    color:white;
    margin:0px 8px;
    background-image:url('./main-banner.jpg');
    align-content: center;
}
.latest-products-btn{
    background-color:white;
    border-radius:5px;
    padding:5px 10px;
    margin-right:10px;
}
.latest-products-btn:hover{
    background-color:black;
    color:white;
}
#card-items{
    display:grid;
    grid-template-columns:auto auto auto;
    margin:50px 20px 0px 20px;
}
#cardDiv{
    border:1px solid lightgray;
    border-radius:8px;
    height:500px;
    width:400px;
    margin-bottom:50px;
    padding-top:10px;
}
/* #card-items:nth-child(19){
   margin-left:300px;   
} */
div form{
    transform:translateX(580px);
}
[value='Login']{
    padding:8px 15px;
    border-radius:5px; 
    background-color:rgb(48, 46, 46);
    color:white;
    border: none;
}
form input{
    border-radius:5px;
    margin-top:10px;
    margin-bottom:10px;
}
div form{
    transform:translateX(580px);
}
[value='Register']{
    padding:8px 15px;
    border-radius:5px; 
    background-color:rgb(48, 46, 46);
    color:white;
    border: none;
}
[value='Send']{
    padding:8px 15px;
    border-radius:5px; 
    background-color:rgb(48, 46, 46);
    color:white;
    border: none;
}